body{
    background-color: powderblue;
    font-family: Helvetica, Arial, sans-serif;
    background image: url(../img/photo3.jpg);
}

a{
    text-decoration: none;
    color: red;
}

h1, h2 , h3{
    margin: 0;
}

#container{
    background-color: lavender;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#header{
    background-color: aqua;
    color: white;
    text-align: center;
    padding: 10px;
}

#content{
    padding: 10px;
}

#nav{
    width:180px;
    float: left;
}

#nav ul{
    list-style-type: none;
    padding: 10px;
}

#nav.selected{
    font-weight: bold;
}

.contain{
    display: flex;
    align-items: middle;
}

img.col{

    width: 100%;
}

#main{
    width: 800px;
    float: right;
}

#footer{
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}
